[Desktop Entry]
Version=1.0
Name=AnyViewer
Comment=View a File
GenericName=File Viewer
Keywords=Viewer
Exec=AnyViewer %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=AnyViewer
Categories=Viewer;
MimeType=text/md;
StartupNotify=true
